<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />

	<meta name="url" content="{{ .Permalink }}" />
	<meta name="twitter:url" content="{{ .Permalink }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	{{ if .Summary }}<meta name="description" content="{{ .Summary }}">{{ end }}
</head>
<body>
  <header class="main">
		<h1><a href="/">{{ .Site.Title }}</a></h1>
		<nav>
			{{ range .Site.Params.header.links }}
			<a href="{{ .href }}">{{ .name }}</a>
			{{ end }}
		</nav>
	</header>

	{{ block "main" . }}{{ end }}
	{{ block "footer" . }}{{ end }}

	<footer class="main">
		&copy; 2023 James Cunningham. <a href="https://github.com/jamescun/jamescun.com">Source</a>.
	</footer>
</body>
</html>
