body {
	margin: 50px;
	max-width: 800px;

	font-size: 18px;
	line-height: 1.4em;
}

a { color: #000000; }
a:hover { color: #0066CC; }

h1 a { text-decoration: none; }

h1, h2, h3 { line-height: 1em; font-family: sans-serif; }

header { line-height: 1em; }
header, article { margin-bottom: 50px; }

p { line-height: 1.6em; }

pre { padding: 10px; background-color: #f9f9f9;}
pre, code { font-size: 14px; line-height: 1.4em; }
